
#main input{
    background: white;
    border: none;
    position: relative;

}
#main th,td{
    padding: 0px 2px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#main .rul{
    width: 80px;
}

#main .lg{
    width: 200px;
}

#main .time{
    width: 200px;
}

#addpos{
    width: 100px;
    height: 30px;
}