td{
    width: 300px;
    height: 30px;
}
#next{
    position: relative;
    left: 550px;
    top: 20px;
}

#sub{
    position: relative;
    left: 140px;
    top: 8px;
    width:  100px;
    height: 40px;
    background: red;
    color: white;
    border: none;
    margin: 0px;
    padding: 0px;
}